:root {
  --header-height: 60px;
  --header-button-height: 30px;
  --header-button-width: 110px;

  --border-radius: 1.5rem;

  --button-height: 60px;
  --button-color: #bb59f8;
}

[class$="__container"] {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0.2rem;
}
