.question {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--text-color);
}

.answers {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .answer {
    .radio {
      display: none;
    }

    .label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      line-height: 1.2;
      padding-left: 30px;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 1rem;
      color: var(--text-color);
    }

    .label::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      background-color: white;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.1s ease;
    }

    .radio:checked + .label::before {
      border-color: var(--button-color);
      background: var(--button-color);
    }
  }
}

