.theme-switcher {
  width: var(--header-button-width);
  height: var(--header-button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--background-color);
  cursor: pointer;
  color: var(--text-color);

  &__icon {
    width: calc(var(--header-button-height) * 0.6);
    height: calc(var(--header-button-height) * 0.6);
  }

  &:hover {
    transition:
      background-color 0.3s,
      border-color 0.3s;
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
  }
}
