html.dark {
  --background-color: #1b1b1b;
  --background-color-hover: #292929;
  --text-color: #f7fdff;
  --shadow-color: #404040;
  --border-color: #404040;
  --border-color-hover: #505050s;

  --content-background-color: #5e5346;
}
