html.light {
  --background-color: #f5f5f5;
  --background-color-hover: #ebebeb;
  --text-color: #0d0d0d;
  --shadow-color: #e0e0e0;
  --border-color: #e0e0e0;
  --border-color-hover: #cacaca;

  --content-background-color: #dfdfdf;

  --resultCard-correct-bg-color: #6cdd7b;
  --resultCard-incorrect-bg-color: #d46f6f;
  --resultCard-correct-border-color: #2f8d3b;
  --resultCard-incorrect-border-color: #813b3b;
}