html.light {
  --background-color: #f5f5f5;
  --background-color-hover: #ebebeb;
  --text-color: #0d0d0d;
  --shadow-color: #e0e0e0;
  --border-color: #e0e0e0;
  --border-color-hover: #cacaca;

  --content-background-color: #dfdfdf;
}