@use 'styles/themes/light' as *;
@use 'styles/themes/dark' as *;
@use 'styles/global' as *;

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;

  background-color: var(--background-color);
  color: var(--text-color);
}
