.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quiz-container {
    width: 886px;
    height: 685px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}